.container{   
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    // display: block;
    align-items: center;
    text-align: center;
    
    .main-nav{
        display: flex;
        align-items: center;}
        // @media screen and( min-width: 768px){
        //     display: flex;
        // }

        // @media screen and (min-width:1200px){
        //     display: flex;
        // }}
    @media screen and (min-width:480px){
            width:480px;}
        
    @media screen and (min-width:768px){
            width: 768px;}
        
    @media screen and (min-width:1200px){
        width: 1200px;}}

// @media screen and (min-width:480px){
//     width: 480px;}

// @media screen and (min-width:768px){
//     width: 768px;}

// @media screen and (min-width:1200px){
//     width: 1200px;}}

    // &-modal{
    //     padding: 40px;
    //     width: 528px;
    //    min-height: 581px;
    // .text{
    //     margin: 0;
    //     margin-bottom: 12px;
    //     font-weight: 700;
    //     font-size: 20px;
    //     line-height: 23px;
    //     text-align: center;
    //     letter-spacing: 0.03em;
    
    //     color: #212121;}
    // .accept{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         width: 100%;
    //         min-height: 24px;
    //         margin-bottom: 30px;
    //         font-style: normal;
    //         font-weight: 400;
    //         font-size: 14px;
    //         line-height: 1.71;
            
    //         letter-spacing: 0.03em;
            
    //         color: #757575;
    //         .link{
    //             text-decoration-skip-ink: none;
    //             color: var(--accent-color);}}
    // }

    // &-form{
    //     display: flex;
    //     position: relative;
    
    //     margin-bottom: 10px;} 
