.header{
    margin: 0 auto;
    border-bottom: 1px solid #ECECEC;
    position: relative;
  .container{
    display: flex;
  }

.contacts{
    
    @media screen and(min-width:768px) {
        
    }
    @media screen and(min-width: 1200px){
        display: flex;
        flex-wrap: wrap;
   }
.mail{
    @media screen and(max-width: 767px){
    margin-bottom: 16px;}
    @media screen and(min-width: 768px){
        margin-bottom: 10px;}
        @media screen and(min-width: 1200px){
            margin-bottom: 0;}
}
}
}