.contacts {
    align-items: center;
    margin: auto 0;
    .link{
        color: var(--primaty-text-color);
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;

        fill: currentColor;
        color: #757575;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-fuction);

        

        &:hover,&focus{
            fill: var(--accent-color);
            color: var(--accent-color);}

        &.number{
            margin-right:0;}
        @media screen and(max-width: 767px){
            font-size: 18px;
            line-height: 1.16;
        }

        @media screen and(min-width: 768px){
            display: flex;
            align-items: center;   
            font-size: 12px;
            line-height: 1.16;
            }

        @media screen and( min-width: 1200px){ 
            margin-right: 30px; 
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.14;}

}}
