.subscribe{
    &-text{
        margin-right: 10px;}
}
.container{
    &-subscribe{
    display: block;
    @media screen and (min-width: 768px){
    margin-left: auto;
    margin-right: auto;}
    @media screen and (min-width: 1200px){
       margin: 0;
            }

    .title{
        color: var(--primary-white-color);
        margin: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        @media screen and (min-width: 1200px){
            display: flex;
            justify-content: start;}
        }}}